a {
    text-decoration: none;
  }
  
body{
  background-color:rgb(40, 38, 35);
}
  nav {
    font-family: monospace;
    display: flex;
    background-color:rgb(40, 38, 35) ;
    border: 0px solid rgb(18, 18, 186);
    flex-direction: row;
    justify-content: center;
    width:100%;
    height: 90px;
    background-color: rgb(40, 38, 35);
    margin:0px;
  }
  
  ul {
    background: rgb(40, 38, 35, 0);
    list-style: none;
    margin: 0;
    padding-top: 6px;
    transform: translate(-0%, 10%)
  }
  
  .trionl{
    margin-top:3px;
  
  }
  
  
  svg{
    margin-right: 15px
  }
  .cart, .acc{
  
    margin-top:6px;
  
  }
  
  
  li {
    color: #fff;
    background: rgb(40, 38, 35);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 20px;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover,
  li:focus-within {
    background: rgb(186, 186, 186);
  }
  
  ul li ul {
    background: rgb(40, 38, 35);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    top:0;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
  }
  
  ul li ul li {
    width: 111%;
    font-size: 20px;
    transform: translate(-24.5%, -35%);
    z-index: 9999;
  }
  .dropdown{
    position:absolute;
    background: rgb(121, 121, 121, 0);
    margin-top: 53px;
  }
  
  
  @media screen and (min-width:2000px) and (max-width:2100px){
  
    ul {
  
        transform: translate(-25%, -0%)
    
    }
    
    .trionl{
  
        transform: translate(-200%, -0%)
    }
  
    .cart, .acc{
    
  
        transform: translate(1150%, -0%);
    }
    
    ul li ul li {
        width: 111%;
        font-size: 20px;
        transform: translate(-2%, -0%);
    }
  }

.hero{
  border-bottom: 10px solid yellow;
  width: 100%;
  }